body {
  margin: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-height: 800px) {
  body {
    margin: 0;
    height: 800px;
    width: 100%;
  }
}

.login_form hr {
  width: inherit;
  color: #000000;
}

.login_form {
  padding: 10px 25px;
  width: 400px;

  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: center;

  border-radius: 20px;
  border: 1px solid #000000;
}

.login_form section {
  margin: 20px 0 10px 0;

  width: inherit;
}

.login_form section input {
  padding: 0 5px 0 5px;
  border-width: 1px;
  border-radius: 10px;
  box-sizing: border-box;
  width: inherit;

  height: 40px;
  font-size: 1rem;

  transition: all 0.2s;
}

.login_form section input:focus {
  outline: none;
  border: 3px solid var(--input-focus);
}

.login_form section .text {
  display: flex;
  justify-content: space-between;

  padding: 5px 0 5px 0;
}

.login_form section .text span {
  padding: 0 var(--margin-inner) 0 var(--margin-inner);
}

.login_form .down_function {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 5px var(--margin-inner) 5px var(--margin-inner);
}

.login_form .down_function .sign {
  display: flex;
  flex-direction: row;
}

.login_form .down_function .checkbox {
  display: inline;
}

.login_form .down_function .sign span {
  margin-left: var(--margin-inner);
}

.login_form .down_function .sign span a {
  text-decoration: none;
  color: #000000;
}

.login_form .login {
  margin-top: 20px;
  padding: 5px;
}

.login_form .login button {
  width: 400px;
  height: 50px;
  border-radius: 10px;

  padding: 0;
  border: none;

  background-color: var(--button-default);
  color: #ffffff;
  font-size: 1.5rem;

  transition: all 0.3s;
}

.login_form .login button:focus {
  outline: none;
}

.login_form .login button:hover {
  background-color: var(--button-hover);
}

.error_message {
  display: none;

  color: var(--error-message-color);
}

.login_form .error .error_message {
  display: block;
}
