body {
  margin: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-height: 800px) {
  body {
    margin: 0;
    height: 800px;
    width: 100%;
  }
}

.wrap {
  width: 400px;

  padding: 10px 25px;
  border: 1px solid #000000;

  border-radius: 20px;

  background-color: #ffffff;
}

.wrap section {
  margin: 20px 0 10px 0;
}

.wrap hr {
  width: inherit;
  color: #000000;
}

.wrap section.welcome {
  display: flex;
  align-items: center;
}

.wrap section.welcome p,
h3 {
  margin: 0 5px 0 5px;
}

.wrap section button.btn_login {
  width: 400px;
  height: 100px;
  border-radius: 10px;

  padding: 0;
  border: none;

  background-color: var(--button-default);
  color: #ffffff;
  font-size: 1.5rem;

  transition: all 0.3s;
}

.wrap section button.btn_login:focus {
  outline: none;
}

.wrap section button.btn_login:hover {
  background-color: var(--button-hover);
}

.wrap section.link {
  float: right;
}

.wrap section.link a {
  text-decoration: none;
  color: #000000;
  margin: 0 5px 0 5px;
}
