body {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: aqua;
}

.login_form {
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.login_form .section {
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 5px;
  width: 400px;
}

.login_form .section input {
  padding: 0px;
  border-width: 1px;
  width: 400px;
  height: 40px;
}

.login_form table .key {
  width: 70px;
  text-align: center;
}
