.blind {
  visibility: hidden;
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 0;
  font-size: 0;
  line-height: 0;
}

html {
  width: 100%;
}

body {
  width: inherit;
  height: inherit;
  display: flex;
  justify-content: center;
}
.header {
  margin: 30px 0;
}
.wrap {
  width: 335px;
  background-color: #fff;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.input_txt {
  width: 325px;
  padding: 12px 14px;
  box-sizing: border-box;
}
.form_row {
  position: relative;
  width: 325px;
  margin: 5px 5px;
  min-height: 50px;
}
.form_row input,
#domain {
  border: 1px solid #d7dbe6;
}
.flex_wrap {
  display: flex;
  justify-content: center;
  align-items: center;
}
.input_email {
  padding: 12px 0;
  box-sizing: border-box;
  flex: 49;
  text-indent: 14px;
}
.input_left {
  padding: 12px 0;
  flex: 6;
  text-indent: 14px;
  margin-right: 5px;
}
.btn_right {
  flex: 3;
  padding: 12px 14px;
  max-width: 30%;
  border: 1px solid #ccc;
  color: #bbc0cd;
}
.btn_act {
  border-color: #1a7cff;
  color: #1a7cff;
}
.email_at {
  flex: 2;
}
.info {
  font-size: 12px;
  color: #898989;
}
.checkbox {
  display: inline-block;
  width: 22px;
  height: 22px;
  background-image: url("/image/ico_checkbox_off.png");
  border: 1px solid #bbc0cd;
  vertical-align: middle;
}
input[type="checkbox"]:checked + .checkbox {
  background-image: url("/image/ico_checkbox_on.png");
}
.check_wrap {
  margin-right: 25px;
  display: inline-block;
  margin-bottom: 3px;
}
.desc_option {
  margin: 0 5px;
}
.button_signup {
  background-color: #1a7cff;
  padding: 10px 30px;
  width: 100%;
  color: #fff;
  box-sizing: border-box;
  font-size: 16px;
}

.msg_error {
  color: #f52926;
  display: none;
}
.error {
  display: block;
  padding: 8px 0;
}
.error_input {
  border-color: #f52926;
}

.disabled input,
.disabled button {
  pointer-events: none;
  background-color: #eee;
  color: #555;
  opacity: 1;
}

.hidden_form {
  display: none;
}

.on_verification .hidden_form {
  display: block;
}

.timer {
  position: absolute;
  right: 35%;
  color: #f52926;
}
