html {
  background: linear-gradient(
    124deg,
    #ff2400,
    #e81d1d,
    #e8b71d,
    #e3e81d,
    #1de840,
    #1ddde8,
    #2b1de8,
    #dd00f3,
    #dd00f3
  );
  background-size: 1800% 1800%;

  -webkit-animation: rainbow 18s ease infinite;
  -z-animation: rainbow 18s ease infinite;
  -o-animation: rainbow 18s ease infinite;
  animation: rainbow 18s ease infinite;
}

@keyframes rainbow {
  0% {
    background-position: 0% 82%;
  }
  50% {
    background-position: 100% 19%;
  }
  100% {
    background-position: 0% 82%;
  }
}

body {
  margin: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-height: 800px) {
  body {
    margin: 0;
    height: 800px;
    width: 100%;
  }
}

form .logo {
  display: flex;
  justify-content: center;
}

form .logo img {
  width: 185px;
  height: 200px;
}

form.wrap {
  padding: 50px;
  background-color: #ffffff;

  display: flex;
  flex-direction: column;
  justify-content: center;

  border: 1px solid #000000;
  border-radius: 20px;
}

form.wrap hr {
  width: 100%;
  color: #000000;
}

form.wrap section.goto_main .link {
  font-size: 2rem;
}

form.wrap section.goto_main .link a {
  text-decoration: none;
  color: #000000;
}

form.wrap section {
  margin: 20px 0 10px 0;
  padding: 5px;

  width: 400px;
}

form.wrap .content table .key {
  width: 100px;
  text-align: center;
}
