doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title 페이지를 찾을 수 없습니다.
  link(rel='stylesheet' href='/stylesheets/404.css')
  link(rel='stylesheet' type='text/css' href='/stylesheets/background.css')
  link(rel='stylesheet' href='/stylesheets/logo.css')
form.wrap
  section.logo
    img(src='/image/logo.png' alt='logo')
  hr
  section.message
    h1 404 not found
    |         페이지를 찾을 수 없습니다.
  hr
  section.return
    a(href='/') 메인 페이지로 돌아가기
