<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./stylesheets/signupcomplete.css" />
    <title>회원가입완료</title>
  </head>
  <body>
    <div class="login_form">
      <div class="section">
        <div>메인으로 ></div>
      </div>
      <div class="section">
        <div>
          <table>
            <thead>
              <tr>
                <td class="key">이름</td>
                <td class="value">홍길동</td>
              </tr>
              <tr>
                <td class="key">아이디</td>
                <td class="value">yourid</td>
              </tr>
              <tr>
                <td class="key">이메일</td>
                <td class="value">youremail@email.com</td>
              </tr>
              <tr>
                <td class="key">휴대폰</td>
                <td class="value">01012345678</td>
              </tr>
            </thead>
          </table>
        </div>
      </div>
      <div class="down_function">
        <div>
          위치관련 정보는 내 정보 보기에서 확인할 수 있습니다.
        </div>
      </div>
    </div>
  </body>
</html>
