doctype html
html(lang="ko")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet" href="/stylesheets/complete.css")
    link(rel="stylesheet" type="text/css" href="/stylesheets/background.css")
    link(rel="stylesheet" href="/stylesheets/logo.css")
    title 회원가입완료
  body
    form.wrap
      section.logo
        img(src="/image/logo.png" alt="logo")
      hr
      section.content
        h2 회원가입이 완료되었습니다.
        table
          thead
            tr
              td.key 이름
              td.value #{name}
            tr
              td.key 아이디
              td.value #{id}
            tr
              td.key 이메일
              td.value #{email}
            tr
              td.key 휴대폰
              td.value #{phone}
        p 위치관련 정보는 내 정보 보기에서 확인할 수 있습니다.
      hr
      section.goto_main
        a(href="/") 메인으로 돌아가기 
