<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./stylesheets/login.css" />
    <title>로그인</title>
  </head>
  <body>
    <form class="login_form">
      <div class="section">
        <input type="text" />
      </div>
      <div class="section">
        <input type="text" />
      </div>
      <div class="down_function">
        <div class="checkbox">
          <input type="checkbox" name="saveId" id="" /> 아이디 저장
        </div>
        <div class="sign">
          <div>아이디/비밀번호 찾기</div>
          <div>회원 가입</div>
        </div>
      </div>
      <div class="login">
        <button>
          로그인
        </button>
      </div>
    </form>
  </body>
</html>
