<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/login.css" />
    <title>로그인</title>
  </head>
  <body>
    <form class="login_form">
      <section class="logo">
        <img src="/image/logo.png" alt="logo" />
      </section>
      <section class="id">
        <div class="text">
          <span>아이디를 입력하세요</span>
          <span class="error_message">아이디가 올바르지 않습니다.</span>
        </div>
        <input type="text" id="user_id" />
      </section>
      <section class="password">
        <div class="text">
          <span>비밀번호를 입력하세요</span>
          <span class="error_message">비밀번호가 올바르지 않습니다.</span>
        </div>
        <input type="password" id="user_pw" />
      </section>
      <div class="down_function">
        <div class="checkbox">
          <input type="checkbox" name="saveId" /> 아이디 저장
        </div>
        <div class="sign">
          <span id="find_account">아이디/비밀번호 찾기</span>
          <span id="signup"><a href="/signup">회원 가입</a></span>
        </div>
      </div>
      <section class="login">
        <button id="btn_login" type="button">
          로그인
        </button>
      </section>
    </form>
    <script type="module" src="/javascripts/login.js"></script>
  </body>
</html>
