<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="./stylesheets/main.css" />
    <title>메인 페이지</title>
  </head>
  <body>
    <div class="wrap">
      <p><%= welcome %></p>
      <button class="btn_login">배민사장님광장 로그인</button>
      <div class="link">
        <a>아이디/비밀번호 찾기</a>
        <a>회원가입</a>
      </div>
    </div>
  </body>
</html>
