<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/resetcss.css" />
    <link rel="stylesheet" href="/stylesheets/signup.css" />
    <title>회원가입</title>
  </head>
  <body>
    <div class="wrap">
      <div class="header">
        <h1>배민사장님광장</h1>
      </div>
      <div class="content">
        <form>
          <fieldset class="fieldset">
            <legend class="blind">필수정보</legend>
            <div class="section">
              <strong class="title_field">필수정보를 입력해주세요.</strong>
              <div class="form_row">
                <input
                  type="text"
                  name="userId"
                  value=""
                  id="userId"
                  class="input_txt"
                  placeholder="아이디* (4~20자)"
                />
                <p class="msg_error">
                  아이디를 입력해 주세요.
                </p>
              </div>
              <div class="form_row">
                <input
                  type="password"
                  name="userPW"
                  value=""
                  id="userPW"
                  class="input_txt"
                  placeholder="비밀번호* (영문+숫자, 8~20자)"
                />
                <p class="msg_error">
                  비밀번호를 입력해 주세요.
                </p>
              </div>
              <div class="form_row">
                <input
                  type="password"
                  name="retypePW"
                  value=""
                  id="retypePW"
                  class="input_txt"
                  placeholder="비밀번호 재확인*"
                />
                <p class="msg_error">
                  비밀번호 확인을 위해 한번 더 입력해 주세요.
                </p>
              </div>
              <div class="form_row">
                <div class="flex_wrap">
                  <input
                    type="text"
                    name="email"
                    value=""
                    id="email"
                    class="input_email"
                    placeholder="이메일 앞자리*"
                  />
                  <span class="email_at">@</span>
                  <input
                    type="text"
                    name="domain_etc"
                    value=""
                    id="domain_etc"
                    class="input_email"
                    placeholder="이메일 뒷자리*"
                    disabled
                  />
                </div>
                <p class="msg_error">
                  이메일 주소를 입력해 주세요.
                </p>
              </div>
              <div class="form_row" id="mail_domain">
                <select class="input_txt" id="domain">
                  <option value="noSelected" selected disabled
                    >이메일 선택</option
                  >
                  <option value="naver.com">naver.com</option>
                  <option value="hanmail.net">hanmail.net</option>
                  <option value="nate.com">nate.com</option>
                  <option value="hotmail.com">hotmail.com</option>
                  <option value="etc">직접입력</option>
                </select>
              </div>
              <div class="form_row">
                <input
                  type="text"
                  name="name"
                  value=""
                  id="name"
                  class="input_txt"
                  placeholder="이름*"
                />
                <p class="msg_error">
                  이름을 입력해 주세요.
                </p>
              </div>
              <div class="form_row">
                <div class="flex_wrap">
                  <input
                    type="text"
                    name="phone"
                    value=""
                    id="phone"
                    class="input_left"
                    placeholder="휴대폰*"
                  />
                  <button class="btn_right" type="button">인증받기</button>
                </div>
                <p class="msg_error">
                  전화번호를 입력해 주세요.
                </p>
              </div>
              <ul class="form_row">
                <li class="info">
                  인증번호 전송은 통신사에 따라 최대 1분까지 소요될 수 있습니다.
                </li>
                <li class="info">
                  인증번호가 도착하지 않을 경우 '인증번호 재전송'을 눌러주세요.
                </li>
              </ul>
            </div>
          </fieldset>
          <fieldset>
            <legend class="blind">선택정보</legend>
            <div class="section disabled">
              <div class="check_wrap">
                <input
                  type="checkbox"
                  name="status"
                  id="option_info"
                  class="blind"
                />
                <label class="checkbox" for="option_info" id="option_check"></label>
                <label class="desc_option" for="option_info">선택정보를 입력하시겠어요?</label>
                <a
                  href="/#/policy/history?position=collectionAndUsageNormal"
                  class="info"
                >
                  내용보기
                </a>
              </div>
              <div class="form_row flex_wrap">
                <input
                  type="text"
                  name="postnumber"
                  value=""
                  id="postnumber"
                  class="input_left"
                  placeholder="우편번호"
                />
                <button class="btn_right type="button">주소찾기</button>
              </div>
              <div class="form_row">
                <input
                  type="text"
                  name="address"
                  value=""
                  id="address"
                  class="input_txt"
                  placeholder="주소*"
                />
                <p class="msg_error">
                  주소를 입력해 주세요.
                </p>
              </div>
              <div class="form_row">
                <input
                  type="text"
                  name="address_detail"
                  value=""
                  id="address_detail"
                  class="input_txt"
                  placeholder="상세주소"
                />
                <p class="msg_error">
                  상세주소를 입력해 주세요.
                </p>
              </div>
            </div>
            <div class="section">
              <div class="check_wrap">
                <input
                  type="checkbox"
                  name="agree_all"
                  value="agree_all"
                  class="blind"
                  id="agree_all"
                />
                <label class="checkbox" for="agree_all"></label>
                <label class="desc_option" for="agree_all"
                  >전체 약관에 동의합니다
                </label>
              </div>
              <div class="check_wrap">
                <input
                  type="checkbox"
                  name="agree_required"
                  value="agree_required"
                  id="agree_required"
                  class="blind"
                />
                <label class="checkbox" for="agree_required"></label>
                <label class="desc_option" for="agree_required">필수 항목에 동의합니다.</label>
                <a
                  href="/#/policy/history?position=collectionAndUsageNormal"
                  class="info"
                >
                  내용보기
                </a>
              </div>
              <div class="check_wrap">
                <input
                  type="checkbox"
                  name="agree_adv"
                  value="agree_adv"
                  class="blind"
                  id="agree_adv"
                />
                <label class="checkbox" for="agree_adv"></label>
                <label for="agree_adv" class="desc_option"
                  >광고성 정보 수신 동의 (선택)</label
                >
                <a
                  href="/#/policy/history?position=collectionAndUsageNormal"
                  class="info"
                >
                  내용보기
                </a>
              </div>
              <div class="form_row">
                <p class="info">
                  만 14세 이상 회원만 가입 가능합니다.
                  <a
                    href="/#/policy/history?position=collectionAndUsageNormal"
                    class="info"
                  >
                    내용보기
                  </a>
                </p>
              </div>
              <div class="form_row">
                <button class="button_signup" id="btn_signup" type="button">가입완료</button>
              </div>
            </div>
          </fieldset>
        </form>
      </div>
    </div>
    <script type="module" src="/javascripts/signup/index.js"></script>
  </body>
</html>
